@import "../../../index.scss";

.container__item {
  @include flexCenter;
  flex-direction: column;
  border: 1px solid $secondColor;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  transition: $defaultTransition;
  max-width: 20.5rem;
  height: 20.5rem;

  @include tab {
    max-width: 26rem;
  }
  @include phone {
    height: 16rem;
    max-width: 16rem;
  }
  // @include miniPhone {
  //   height: 12rem;
  //   max-width: 12rem;
  // }

  h3 {
    text-align: center;
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(0%);
    color: transparent;
    transition: $defaultTransition;
    @include phone {
      font-size: 2rem;
    }
    @include miniPhone {
      font-size: 1.75rem;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $mainColor;

    h3 {
      color: whitesmoke;
      transform: translateY(-50%);
    }

    img {
      opacity: 0.2;
    }
  }

  img {
    height: 100%;
    object-fit: contain;
    z-index: 1;
    transition: $defaultTransition;
  }
}
