@import "../../../index.scss";

.list {
  cursor: pointer;
  font-size: 2rem;
  padding: .5rem;
  border-radius: .5rem;

    &.active {
      background-color: $mainColor;
      color: whitesmoke;
    }
}