@import "../../../index.scss";

.list {
  cursor: pointer;
  font-size: 2rem;
  padding: .75rem;
  border-radius: .5rem;
  @include tab {
    font-size: 2.25rem;
  }
  @include phone {
    font-size: 1.5rem;
  }
  @include miniPhone {
    font-size: 1.4rem;
    padding: .15rem .6rem;
  }

    &.active {
      background-color: $mainColor;
      color: whitesmoke;
    }
}