@import "../../index.scss";

.portfolio {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $defaultGap;

  ul {
    display: flex;
    gap: $hugeGap;
    margin-bottom: 2.5rem;
  }

  .container {
    width: 70%;
    @include flexCenter;
    flex-wrap: wrap;
    gap: $defaultGap;
  }
}