@import "../../../index.scss";

.menu {
  width: 22%;
  height: 100vh;
  background-color: $gray;
  position: fixed;
  top: 0rem;
  right: -30vw;
  z-index: -2;
  @include flexCenter;
  flex-direction: column;
  transition: $slowlyTransition;

  ul {
    font-size: 3rem;
    width: 88%;
    transform: translateY(-15%);

    li {
      margin-left: 2rem;
      color: whitesmoke;
      &:hover {
        filter: brightness(1);
      }
    }

    :not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &.active {
    right: 0;
    background-color: $mainColor;
  }
}
