@import "../../../index.scss";

.menu {
  width: 22%;
  height: 100vh;
  background-color: $gray;
  position: fixed;
  top: 0rem;
  right: -30vw;
  z-index: -2;
  @include flexCenter;
  flex-direction: column;
  transition: $slowlyTransition;
  @include tab {
    width: 40vw;
    right: -40vw;
  }
  @include phone {
    width: 55vw;
    right: -55vw;
  }
  @include miniPhone {
    width: 70vw;
    right: -70vw;
  }

  ul {
    font-size: 3rem;
    width: 88%;
    transform: translateY(-15%);
    @include phone {
      font-size: 2.5rem;
    }

    li {
      margin-left: 2rem;
      color: whitesmoke;
      @include phone {
        margin-left: 1rem;
      }
      &:hover {
        filter: brightness(1);
      }
    }

    :not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &.active {
    right: 0vw;
    background-color: $mainColor;
  }
}
