@import "../../index.scss";

.topBar {
  width: 100vw;
  height: 7rem;
  background-color: $gray;
  color: whitesmoke;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: $slowlyTransition;

  .wrapper {
    margin: 0 auto;
    padding: 0.25rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phone {
      justify-content: space-around;
      padding: 0.5rem 0;
    }
    @include miniPhone{
      justify-content: space-around;
      padding: 1rem 0;
    }

    .left {
      img {
        height: 6rem;
        @include miniPhone{
          height: 5rem;
        }
      }
    }

    .center {
      @include flexCenter;
      gap: $hugeGap;

      .item-container {
        display: flex;
        gap: $defaultGap;
        position: relative;
        font-weight: 300;

        .icon {
          font-size: 2rem;
          cursor: pointer;
        }

        span {
          white-space: nowrap;
        }
      }

      .text-logo {
        font-size: 3.5rem;
        text-decoration: none;
        font-style: italic;
        @include phone {
          display: none;
        }
      }
    }
  }

  &.active {
    background-color: $mainColor;
    color: whitesmoke;
  }
}
