@import "../../index.scss";

.works {
  background-color: $tertiaryColor;
  @include flexCenter;
  position: relative;
  overflow: hidden;

  .slider {
    height: 70vh;
    display: flex;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: $slowlyTransition;
    @include tab {
      height: 80vh;
    }
    @include phone {
      height: 86vh;
    }

    .container {
      width: 100vw;
      @include flexCenter;
    }
  }

  .arrow {
    position: absolute;
    cursor: pointer;
    color: whitesmoke;
    z-index: 2;
    font-size: 5rem;

    &.left {
      left: 7%;
      @include tab {
        left: 1.5%;
      }
    }

    &.right {
      right: 7%;
      @include tab {
        right: 1.5%;
      }
    }
  }
}
