@import "../../index.scss";

.intro {
  display: flex;

  @include tab {
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    scroll-margin-top: 7rem !important;
    height: calc(100vh - 7rem) !important;
  }

  .left {
    flex: 0.55;
    user-select: none;
    overflow: hidden;
    position: relative;

    @include tab {
      align-items: flex-start;
    }

    .imgContainer {
      height: 85.5rem;
      width: 85.5rem;
      margin-top: 1rem;
      background-color: $secondColor;
      border-radius: 50%;
      @include flexCenter;
      float: right;

      @include tab {
        height: 70rem;
        width: 70rem;
      }

      img {
        position: absolute;
        bottom: 0;
        height: 100%;

        @include tab {
          position: relative;
          // height: 50%;
        }
      }
    }
  }

  .right {
    flex: 0.45;
    position: relative;

    @include tab {
      position: static;
      // top: 7rem;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include tab {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 6rem;
        font-weight: 800;
        margin: 1rem 0;
        letter-spacing: 2px;

        @include tab {
          font-size: 4rem;
        }
      }

      h2 {
        font-size: 3.5rem;
        letter-spacing: 1.5px;
      }

      h3 {
        font-size: 3rem;
        letter-spacing: 0.5px;

        @include tab {
          font-size: 4rem;
        }

        span {
          color: $mainColor;
          font-weight: 800;
          font-size: inherit;
        }

        .ityped-cursor {
          font-size: 2.2rem;
          opacity: 1;
          -webkit-animation: blink 0.3s infinite;
          -moz-animation: blink 0.3s infinite;
          animation: blink 0.3s infinite;
          animation-direction: alternate;
        }

        @keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-webkit-keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-moz-keyframes blink {
          100% {
            opacity: 0;
          }
        }
      }
    }

    a {
      position: absolute;
      bottom: 0;
      left: 40%;
      font-size: 6rem;
      animation: arrowBlink 1.8s infinite;
      @include tab {
        bottom: 55%;
        left: 48%;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0;
          transform: translateY(12.5%);
        }
      }
    }
  }
}
