@import "../../index.scss";

.intro {
  position: relative;

  .bg-video {
    video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      @include phone {
        object-position: right;
      }
    }
  }

  .overlay {
    width: 100%;
    height: calc(100vh - 7rem);
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba($color: #000000, $alpha: 0.5);
    @include phone {
      background-color: rgba($color: #000000, $alpha: 0.8);
    }
  }

  .right {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .mainText {
        display: flex;
        gap: $defaultGap;
        align-items: baseline;

        @include tab {
          width: 90vw;
          justify-content: center;
        }
        
        @include phone {
          // width: 90vw;
          // justify-content: center;
          flex-direction: column;
          gap: 0;
        }
      }

      h1 {
        font-size: 6rem;
        font-weight: 800;
        margin: 1rem 0;
        letter-spacing: 2px;
        @include tab {
          font-size: 4rem;
        }
        @include phone {
          font-size: 3.5rem;
        }
      }

      h2 {
        font-size: 3.5rem;
        letter-spacing: 1.5px;
        @include miniPhone {
          margin: 0;
          font-size: 2.5rem;
          letter-spacing: 0.5px;
        }
      }

      h3 {
        font-size: 3rem;
        letter-spacing: 0.5px;

        @include tab {
          text-align: center;
        }
        
        @include phone {
          font-size: 2rem;
          text-align: start;
        }

        span {
          color: $mainColor;
          font-weight: 800;
          font-size: inherit;
          // @include phone {
          //   &:nth-child(2n) {
          //     position: absolute;
          //     display: block;
          //   }
          // }
        }

        .ityped-cursor {
          font-size: 2.2rem;
          opacity: 1;
          -webkit-animation: blink 0.3s infinite;
          -moz-animation: blink 0.3s infinite;
          animation: blink 0.3s infinite;
          animation-direction: alternate;
        }

        @keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-webkit-keyframes blink {
          100% {
            opacity: 0;
          }
        }

        @-moz-keyframes blink {
          100% {
            opacity: 0;
          }
        }
      }
    }
  }
  .downBtn {
    position: absolute;
    color: white;
    bottom: 0;
    left: 50%;
    font-size: 6rem;
    animation: arrowBlink 1.8s infinite;
   
    @keyframes arrowBlink {
      100% {
        opacity: 0;
        transform: translateY(12.5%);
      }
    }
  }
}
