@import "../../index.scss";

.testimonials {
  background-color: whitesmoke;
  flex-direction: column;
  display: flex;
  align-items: center;

  .container {
    width: 100%;
    height: 100%;
    @include flexCenter;
    gap: $defaultGap;
    @include phone {
      gap: 3rem;
    }
  }
}
