.app {
  height: 100vh;

  .sections {
    width: 100%;
    height: calc(100vh - 70px);
    background-color: aquamarine;
    position: relative;
    margin-top: 70px;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 97.9vw;
      height: calc(100vh - 70px);
    	scroll-snap-align: start;      
    }
  }
}