.app {
  height: 100vh;
  
  .sections {
    width: 100%;
    height: calc(100vh - 7rem);
    position: relative;
    top: 7rem;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 97.9vw;
      height: calc(100vh - 7rem);
    	scroll-snap-align: start;      
    }
  }
}