@import "./index.scss";

.app {
  height: 100vh;
    
  .sections {
    width: 100%;
    position: relative;
    top: 7rem;

    > * {
      overflow: hidden;
      height: calc(100vh - 7rem);
      scroll-margin-top: 7rem;
      scroll-snap-align: start;
    }

  }
} 