// vars
// colors
$mainColor: #a128c4;
$secondColor: #7ed957;
$tertiaryColor: #e74c3c;
$gray: #363430;

// transitions
$defaultTransition: all 0.5s ease;
$slowlyTransition: all 1s ease;

// shadows
$defaultBoxShadow: 0px 0px 15px -8px black;
$heavyBoxShadow: 0 1rem 2rem rgba(black, 0.1);

// spacing
$defaultGap: 1.5rem;
$hugeGap: 2.5rem;

// mixins
@mixin clearfix {
  //fix for float and others
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // this defines what 1rem, in this case (62.5%) 1rem=10px  / 10px;16px = 62.5%
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; //for firefox
  &::-webkit-scrollbar {
    display: none;
  }
}

:target {
  scroll-margin-top: 7rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: $gray;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin-top: 1rem;
  font-size: 5rem;
}

button {
  font-family: inherit;
}

textarea {
  font-family: inherit;
}

// media queries
$tab: 768px;
$phone: 468;

@mixin tab {
  @media (max-width: #{$tab}) {
    @content;
  }
}
