$mainColor: #a128c4;
$secondColor: #7ed957;
$gray: #363430;
$defaultTransition: all .5s ease;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // this defines what 1rem, in this case (62.5%) 1rem=10px  / 10px;16px = 62.5%
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }
}

:target {
  scroll-margin-top: 7rem;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: $gray;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}